* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    min-width: 400px;
}
input {
    width: 100%;
    padding: 10px;
    border: 1px solid green;
}
button {
    background-color: green;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid green;
    margin-top: 10px;
}
#del-btn {
    border: 1px solid green;
    background-color: white;
    color: green;
}
li {
    margin-top: 2px;
}

a {
    color: #5f9341;
}
