* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.crousel {
    position: relative;
    width: 100%;
}
.crousel .crousel-item,
.crousel .crousel-item-hidden {
    display: none;
}
.crousel .crousel-item-visible {
    display: block;
    animation: fade 1s; 
}
.crousel .crousel-item img {
    width: 100%;
    height: 502px;
}
.crousel .crousel-action {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
}
.crousel .crousel-action button {
    border-radius: 50%;
    background-color: aliceblue;
    cursor: pointer;
    border: 0;
    font-size: 30px;
    width: 90px;
    height: 70px;
    margin: 0 20px;
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}